@font-face {
  font-family: 'daisyRoots';
  src: url('../font/roots.otf') format('truetype');
}



body {background-image: url(../image/Achtergrond%20IpadStartscherm.png);
background-repeat: no-repeat;
    background-size: 100%;
}




form{margin-left: 25%;
margin-top: 25%;
color: black;
font-size: 2em;}

input[type=text]{Width: 50%;
padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
border:   3px solid black;
    background-color: white;
    color: black;
}
input[type=submit]{
  font-size: 1.4em;
    margin-left: 40%;
    color: black;
    
  border:   3px solid black;
    background-color: white; 
    position: absolute;
    font-family: 'daisyRoots';

}

.label{width: 15%;
display: inline-block;
  font-family: 'daisyRoots';

}