@font-face {
  font-family: "/daisyRoots";
  src: url("../font/DaisyRoots");
}

body {
  margin: 0;
  background-image: url("../images/spelAchtergrondScherm.png");
  background-color: darkseagreen;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 12%;
  position: fixed;
}

p {
  font-family: daisyRoots;
  font-size: 30px;
  color: white;
  margin: 0;
}

#spelerStatus {
  margin: 10px 0 0 10px;
}